:root {
  --body-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*************VARIABLES***************/
  --header-height: 3rem;
  --font-semi: 600;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.25rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

  /* #155E63
    #76B39D
    #F9F8EB
    #EAE7E7 */

    --background-color: #EAE7E7;
    --light-color: #F9F8EB;
    --white-color: #ffffff;
    --first-color: #155E63;
    --second-color: #76B39D;

  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

*, ::after,::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1,h2,h3,h4,p {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.av_section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.av_title_section {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.av_title_section::after {
    position: absolute;
    content: "";
    width: 64px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color); 
}

.av_bd_grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.av_l_header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--background-color);
    transition: all .3s;
    
}

.av_scroll_activado{
    box-shadow: 0 1px 4px rgba(36,36,36,.5);
}

.av_nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px){
    .av_container_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
    
}

.av_item_menu{
    margin-bottom: var(--mb-4);
}

.av_item_link{
    position: relative;
    color: var(--white-color);
    
}

.av_item_link:hover{
    position: relative;
}

.av_item_link:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color); 
    
}

.av_logo{
    color: var(--first-color);
}

.av_nav_toggle{
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.av_active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.show{
    right: 0;
}

/***********SECTIONS*********/

.av_container_banner{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.av_img_banner{
    display: none;
}

.av_content_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.av_title_banner{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-3);
}

.av_subtitle_banner{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
}

.av_btn{
    text-decoration: none;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi);
    letter-spacing: .1em;
    padding: .5em 1em;
    border-radius: 1em;
    color: var(--white-color);
    background-color: var(--first-color);
}

/***************NOSOTROS*****************/
.av_content_section_nosotros{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.av_card{
    position: relative;
    max-height: 400px;
    max-width: 250px;
    border-radius: 1rem;
    overflow: hidden;
    transition: ease-in-out .5s;
    margin-bottom: var(--mb-3);
    -webkit-box-shadow: 0px 0px 37px 8px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 37px 8px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 37px 8px rgba(0,0,0,0.31);
    
}

.av_img_card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.av_info_card{
    padding: .8em 1em;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    position: absolute;
    bottom: -300px;
    left: 0;
    color: var(--light-color);
    line-height: 1.5rem;
    transition: ease-in-out .5s;
    background-color: rgba(118, 179, 157, .4);
}

.av_card:hover{
    -webkit-box-shadow: 0px 0px 12px 0px rgba(118, 179, 157,1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(118, 179, 157,1);
    box-shadow: 0px 0px 12px 0px rgba(118, 179, 157,1);
}

.av_card:hover .av_info_card{
    position: absolute;
    bottom: 0;
    left: 0;
}
.av_info_nets{
    width: 100%;
}
.av_list_net{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.av_item_net, a{
    color: var(--white-color);
    font-size: var(--h2-font-size);
}

/***************SERVICES*****************/
.av_content_section_services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--mb-2);
}

.av_service{
    width: 350px;
    padding: var(--mb-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(118, 179, 157, .4);
    border-radius: .5rem;
}

.av_num_service{
    padding: var(--mb-1);
}

.av_num_service p{
    font-size: var(--bigger-font-size);
    color: var(--first-color);
}

.av_info_service{
    display: flex;
    flex-direction: column;
}

.av_title_service{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
}
.av_title_service::before{
    content: attr(data-count) '| ';
    font-size: var(--bigger-font-size);
}

.av_content_service{
    text-align: justify;
    line-height: 1.5rem;
    font-size: var(--normal-font-size);
}

/***************CONTACTO*****************/

.av_content_contact{
    display: flex;
    flex-direction: column;
}

.av_content_info_contact{
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    padding: var(--mb-4);
    gap: var(--mb-3);
}

.av_title_info_contact{
    font-size: var(--big-font-size);
    color: var(--light-color);
}

.av_label_data{
    font-size: 1.05rem;
    color: var(--second-color);
}

.av_group_data{
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.av_group_data span{
    color: var(--light-color);
    font-size: 1.3rem;
}

.av_item_net_form i{
    font-size: 1.8rem;
    color: var(--second-color);
}

.av_content_form_contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--mb-4);
    gap: var(--mb-3);
}

.av_title_form_contact{
    font-size: var(--big-font-size);
    color: var(--first-color);
    text-align: center;
}

.av_subtitle_form_contact{
    text-align: justify;
    font-size: 1.05rem;
    width: 100%;
}

.av_form_contact{
    display: flex;
    flex-direction: column;
    gap: var(--mb-1);
}

.av_form_group{
    margin-bottom: var(--mb-1);
}

.av_label_form{
    font-size: 1.02rem;
    width: 100%;
    display: block;
    color: var(--first-color);
    font-weight: 500;
    margin-bottom: var(--mb-1);
}

.av_input{
    width: 100%;
    display: block;
    border: none;
    padding: .8rem;
    border-radius: 2px;
    font-size: 1.1rem;
    
}

.av_btn_form{
    text-align: center;
    padding: .8rem;
    background-color: var(--background-color);
    border: 1px solid var(--first-color);
    color: var(--first-color);
    transition: all .3s;
}

.av_btn_form:hover{
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--light-color);
}